*.greger

__pycache__/
*.egg-info/

TODO.md

test/fixtures/java_project/.*
test/fixtures/java_project/target
test/fixtures/rust_project/Cargo.lock
test/fixtures/rust_project/target/
test/fixtures/zig_project/.*

target/test/corpus/languages/rust/fixture/target/
test/corpus/languages/java/fixture/target/
test/corpus/languages/python/fixture/uv.lock
test/corpus/languages/rust/fixture/Cargo.lock
